- include'header.php'
- include'inc/form-top.php'
.form-page
	.container
		.form-line
			.form-sidebar
				.sidebar-combo
					.sidebar-combo__topo
						p oferta<br>promocional 01
					.sidebar-combo__icon
						img(src="images/tv.png", alt="")
						.sidebar-combo__icon--texto
							p: span Standard HD
							p 92 canais
					.sidebar-combo__icon
						img(src="images/phone.png", alt="")
						.sidebar-combo__icon--texto
							p multifone<br>top light
					.sidebar-combo__linha
						p.corte 50<span>Mega</span>
						p 100<span>Mega</span>
				.sidebar-total
					.sidebar-total__topo Total
					.sidebar-total__preco
						p Por:
						p.preco <span>R$</span> 182,<span class="cents">70</span>
					.sidebar-total__rodape
						a(href="#") Consulte o regulamento
				.sidebar-regulamento
					p *Oferta válida até o dia 31/03/2016. Valor referente ao combo triple play incluindo banda larga 12 mega + TV por assinatura e telefonia digital. Valor referente à mensalidade dos 12 primeiros meses para assinantes de novos produtos com débito automático em conta corrente. Para oferta em boleto,acréscimo de R$ 5,00. Proposta sujeita a análise de crédito e área de cobertura. Taxa de adesão de R$ 450,00 para não fidelidade ou isenção da mesma para fidelidade 12 meses. Multa por quebra contratutal no valor de R$ 450,00 proporcional aos meses restantes para o término da fidelização. Consulte condições de aquisição e quaisquer esclarecimentos com o SAC pelo telefone 3266.6060. Após 12 meses o valor será reajustado de acordo com o  IGP-M. Isso não se configura como promoção, e sim como preço. Produto disponível enquanto durar o estoque.

			.form-content
				h2.titulo Formulário <span> de adesão</span>
				h3 1. Dados pessoais
				.form-row
					.form-col-100
						input(type="text", placeholder="Nome")
				.form-row
					.form-col-32
						input(type="text", placeholder="RG")
					.form-col-32
						input(type="text", placeholder="CPF")
					.form-col-32
						input(type="text", placeholder="Data de nascimento")
				.form-row
					.form-col-49
						input(type="text", placeholder="Telefone 01")
					.form-col-49
						input(type="text", placeholder="Telefone 02")
				.form-row
					.form-col-49
						input(type="text", placeholder="E-mail")
					.form-col-49
						input(type="text", placeholder="Profissão")
				.form-row
					.form-col-100
						input(type="text", placeholder="Filiação Pai")
				.form-row
					.form-col-100
						input(type="text", placeholder="Filiação Mãe")
				.form-row
					.form-col-32.select
						select#EstadoCivil(name="")
							option Estado Civil
							option Solteiro
							option Casado
				h3 2. Endereço
				.form-row
					.form-col-70
						input(type="text", placeholder="Nome")
					.form-col-30
						input(type="text", placeholder="Nome")
				h3 3. Pagamento
				.form-row
					.form-col-70.select
						select#Pagamento(name="")
							option Forma de Pagamento
							option Boleto
							option Débito em conta
					.form-col-30
						input(type="text", placeholder="Nome")
				.form-row
					.form-col-100
						label Observações
						textarea#Obs(name="", cols="30", rows="10")
				.form-row.submit
					button.button Assine
- include'footer.php'
