doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->

!= '<html lang="pt-br">'
	head
		// REMOVER ESTA META TAG ANTES DO DEPLOY FINAL DO PROJETO
		meta(name="robots" content="noindex, nofollow")

		title Caveira - JADE

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")

		link(href="css/style.min.css" rel="stylesheet" media="screen")
		- include'inc/head/opengraph.php'
		- include'inc/head/favicons.php'
		- include'inc/head/analyticstracking.php'

		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		// [if lt IE 9]>
		script(src="js/main-head.js")
		// [endif]

	!= "<body>"
	header
		.container
			.header
				.header__logo
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 874.61 113.13"><defs><style>.logo-mp-fibra1{fill:#020202;}.logo-mp-fibra2{fill:#f3712b;}.logo-mp-fibra3{fill:#f04d56;}.logo-mp-fibra4{fill:#f7a51f;}</style></defs><title>logo</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="logo-mp-fibra1" d="M129.84,112.49V3.17c11.06,0-8.55,0,17.1-.08,28,0,56-.08,65-.08,27.07,0,39.4,19.65,39.4,37.91a38.13,38.13,0,0,1-9.8,26c-7.13,7.71-17.36,11.79-29.6,11.79H146.14l0,2.67v31.07ZM146.11,21v43.3H212c7.18,0,13.23-2.49,17.51-7.21a23.25,23.25,0,0,0,5.86-15.73c0-15.12-11.76-23-23.37-23H146.11Z"/><polygon class="logo-mp-fibra1" points="102.65 3.21 59.26 46.59 15.79 3.11 15.79 3.1 0 3.1 0 112.41 15.79 112.41 15.79 112.38 102.65 25.54 102.65 112.48 118.44 112.48 118.44 3.16 102.65 3.16 102.65 3.21"/><polygon class="logo-mp-fibra1" points="15.79 90.04 15.79 25.45 48.1 57.74 15.79 90.04"/><polygon class="logo-mp-fibra2" points="36.28 69.14 14.77 90.53 14.77 56.72 36.28 69.14"/><polygon class="logo-mp-fibra3" points="15 23.3 36.22 44.55 14.79 56.83 15 23.3"/><polygon class="logo-mp-fibra4" points="48.6 56.91 36.22 44.55 14.79 56.83 36.28 69.14 48.6 56.91"/><path class="logo-mp-fibra1" d="M280.13,54.22h64.51v8.16H280.13v50.75h-8.64V.91h75.4V9.56H280.13Z"/><path class="logo-mp-fibra1" d="M376.82,113V.91h8.49V113Z"/><path class="logo-mp-fibra1" d="M617.09,31.49c0,11.53-7,20.49-18.25,24,14.09,3.84,22.09,15.21,22.09,28.17,0,23.05-21.45,29.29-40.66,29.29H424.89V.91H580.27C599.16.91,617.09,10.2,617.09,31.49ZM433.54,51.66H581.39c13.45,0,27.53-4.16,27.53-20.17,0-16.33-14.73-23.21-28.65-23.21H433.54Zm0,53H580.27c14.08,0,32.18-3.36,32.18-21.13-.16-17.45-16-23.69-31.06-23.69H433.54Z"/><path class="logo-mp-fibra1" d="M734.73,113H723.36L684.62,70.55H654V113H645.4V.91h49.3c24.33,0,36.66,17.45,36.82,34.9.16,18.25-11.85,34.26-36.34,34.26ZM654,62.38h39.7c19.53,0,28.17-11,28.34-26.73.16-13.13-8.81-26.73-27.38-26.73H654Z"/><path class="logo-mp-fibra1" d="M858.18,113,845.85,85.44H778.93L766.77,113h-9.29L807.75.91h9.44L867.46,113ZM842.49,77.43,812.39,9.24,782.3,77.43Z"/><path class="logo-mp-fibra1" d="M874.61,13.16c0,7.14-4.65,13.16-13,13.16s-13-6-13-13.16S853.26,0,861.6,0,874.61,6,874.61,13.16Zm-13,11.54c7.14,0,11.21-5.12,11.21-11.54S868.74,1.59,861.6,1.59s-11.18,5.12-11.18,11.58S854.46,24.7,861.6,24.7Zm1.33-18.64H856.8V19.87h1.7V14.68h3L866,19.87h1.88v-.29l-4.33-4.91A4.32,4.32,0,0,0,862.93,6.06Zm-4.44,1.66h4.44a2.73,2.73,0,1,1-.11,5.45h-4.33Z"/></g></g></svg>
				.header__nav
					.header__nav--menu
						a(href="#"): img(src="images/icon-top-tv.png", alt="")
						a(href="#"): img(src="images/icon-top-rss.png", alt="")
						a(href="#"): img(src="images/icon-top-phone.png", alt="")
					.header__nav--vendas
						a(href="#")
							i.fa.fa-comments
							| Vendas online
					.header__nav--assine
						a(href="#") Assine Já: <span>2010.1010</span>

