.banner, .banner-mobi
	position: relative
	max-width: 100%
	width: 100%
	img
		display: block
		max-width: 100%
		width: 100%
.banner
	display: none
	+sm
		display: block
.banner-mobi
	display: block
	+sm
		display: none
.divisa
	background-color: $yellow
	height: 9px
	position: relative
	width: 100%
	.divisa__seta
		+flexbox(row nowrap, center,center,center)
		background-color: $circle
		border-radius: 50%
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3)
		height: 48px
		left: 50%
		margin-left: -24px
		position: absolute
		top: -20px
		width: 48px
		i
			color: $yellow
			font-size: 1.5rem
			line-height: 0
			&:before
				font-weight: bold

