.chamada3
	@extend %din-m
	background-color: $red
	color: white
	padding: 45px 0
	text-align: center
	h2
		font-size: 3rem
		letter-spacing: -4px
		text-transform: uppercase
	h3
		@extend %din-r
		color: $text-topo
		font-size: 2.1rem
		letter-spacing: -3px
	h4
		font-size: 2.1rem
		letter-spacing: -1px
