.chamada1
	background-color: $red
	padding: 40px 0 25px
	text-align: center
	width: 100%
	h2
		@extend %din-m
		color: white
		font-size: 2.1rem
		letter-spacing: -1px
		margin: 0 auto
		max-width: 825px
		padding: 0 1rem
		text-transform: uppercase
		width: 100%
		span
			@extend %din-b
			color: $yellow
