.chamada2
	background-color: $darkred
	color: white
	padding: 60px 0 90px
	width: 100%
	.chamada2__linha
		+flexbox(row wrap, space-between, center, stretch)
		.chamada2__contrate
			+flexbox(row wrap, space-between, center, stretch)
			@extend %din-r
			margin-bottom: 30px
			width: 100%
			+sm
				width: 75%
			.chamada2__contrate--desc
				+flexbox(column wrap, flex-start, center, center)
				+media(1098px)
					+flexbox(row wrap, space-between, center, stretch)
				width: 100%
				.chamada2__contrate--50
					+flexbox(column wrap, flex-start, center, flex-start)
					margin-bottom: 30px
					.topo
						@extend %din-m
						font-size: 1rem
						letter-spacing: -1.5px
						margin-bottom: 5px
						text-align: center
						text-transform: uppercase
						span
							@extend %din-r
							font-size: 0.8rem
					.meio
						+flexbox(row wrap, flex-start, center, stretch)
						.bg
							max-width: 54px
							+media(353px)
								max-width: 74px
							+media(998px)
								max-width: 101px
							img
								width: 100%
						.numero
							@extend %din-bl
							letter-spacing: -5px
							font-size: 5rem
							line-height: 0.61
							transform: translateX(-30px)
							+media(353px)
								font-size: 6rem
							+media(998px)
								letter-spacing: -5px
								font-size: 7.5rem
								line-height: 0.61
								transform: translateX(-40px)
						.mega
							+flexbox(column wrap, flex-end, center, flex-start)
							font-size: 1rem
							letter-spacing: -2px
							transform: translateX(-25px)
							text-transform: uppercase
							+media(353px)
								font-size: 1.5rem
							+media(998px)
								transform: translateX(-35px)
							span
								font-size: 0.5rem
								letter-spacing: 0px
								+media(353px)
									font-size: 0.8rem
				.chamada2__contrate--linha
					background-color: $yellow
					display: none
					height: 100%
					transform: rotate(15deg)
					width: 1px
					+media(1180px)
						display: block
				.chamada2__contrate--100
					+flexbox(column wrap, flex-start, center, flex-start)
					.topo
						@extend %din-m
						font-size: 1rem
						letter-spacing: -1.5px
						height: 39px
						margin-bottom: 5px
						text-transform: uppercase
					.meio
						+flexbox(row wrap, flex-start, center, stretch)
						.bg
							max-width: 54px
							+media(353px)
								max-width: 74px
							+media(998px)
								max-width: 110px
							img
								width: 100%
						.numero
							@extend %din-bl
							font-size: 4.8rem
							letter-spacing: -5px
							line-height: 0.61
							transform: translateX(-30px)
							+media(353px)
								transform: translateX(-40px)
								font-size: 5.6rem
							+media(998px)
								font-size: 7.5rem
								letter-spacing: -5px
								line-height: 0.61
								transform: translateX(-60px)
						.mega
							+flexbox(row wrap, center, center, center)
							font-size: 1rem
							letter-spacing: -2px
							transform: translateX(-25px)
							text-transform: uppercase
							+media(353px)
								font-size: 1.5rem
								transform: translateX(-35px)
							+media(998px)
								transform: translateX(-55px)
							sup
								@extend %din-b
								font-size: 0.7rem
								+media(353px)
									font-size: 1rem
			.chamada2__contrate--texto
				border-bottom: 1px solid $orange
				border-top: 1px solid $orange
				letter-spacing: -1px
				font-size: 1.4rem
				margin-top: 20px
				padding: 5px 0
				text-align: center
				text-transform: uppercase
				width: 100%
				span
					color: $yellow
					transform: rotate(17deg)
		.chamada2__btn
			@extend %din-m
			+flexbox(column wrap, center, center, center)
			width: 100%
			+sm
				width: 25%
			p
				font-size: 1rem
				margin: 10px 0
				text-align: center
				text-transform: uppercase
		.chamada2__juridico
			font-family: Arial, open-sans
			font-size: 0.6rem
			font-weight: 700
			line-height: 1.5
			margin-top: 30px
			width: 100%
			letter-spacing: 0px
.button
	@extend %din-m
	background-color: $red
	border-radius: 50px
	box-shadow: 2px 2px 4px 2px rgba(100,0,0,0.5), inset 1px 1px 2px 0px rgba($glowred, 1)
	color: white
	display: block
	font-size: 1.25rem
	letter-spacing: -1px
	padding: 20px 25px
	text-align: center
	text-transform: uppercase
	transition: all 0.2s 0s linear
	&:hover
		box-shadow: 1px 1px 1px 0px rgba(100,0,0,0.3), inset 1px 1px 2px 0px rgba($glowred, 1)
		transform: tranlateY(3px) tranlateX(2px)
		transition: all 0.2s 0s linear
