.combos
	background-color: $wine
	padding: 55px 0 100px
	.combos__lista
		+flexbox(row wrap, space-between, center, stretch)
		.combo
			@extend %din-m
			+flexbox(column nowrap, space-between, center, center)
			color: white
			margin: 0 auto 50px
			width: 280px
			.combo__topo
				+flexbox(row nowrap, flex-end, center, center)
				background-color: $red
				padding: 15px
				width: 100%
				p
					font-size: 1rem
					text-align: center
					text-transform: uppercase
				span
					+flexbox(row nowrap, center, center, center)
					border: 1px solid white
					border-radius: 50%
					font-size: 0.6rem
					height: 30px
					margin-left: 20px
					width: 30px
			.combo__icon
				+flexbox(row nowrap, center, center, center)
				border-bottom: 1px solid white
				padding: 30px 15px
				width: 100%
				.combo__icon--texto
					@extend %din-b
					margin-left: 15px
					font-size: 1.2rem
					text-transform: uppercase
					p
						text-align: center
					span
						font-size: 0.9rem
			.combo__linha
				+flexbox(column nowrap, center, center, center)
				margin: 15px auto
				width: 185px
				p
					font-size: 1rem
					letter-spacing: -1px
					line-height: 1.2
					text-align: center
				.button
					font-size: 1rem
					margin: 15px auto
					padding: 10px 20px
			.combo__button
				margin-top: auto

