.form-top
	@extend %din-m
	background-color: $darkred
	color: white
	font-size: 2rem
	letter-spacing: -1px
	padding: 75px 0
	text-transform: uppercase
	h1
		margin: 0
.form-pedido
	@extend %din-b
	background-color: $red
	color: $yellow
	letter-spacing: 1px
	padding: 50px 0
	text-transform: uppercase
	h2
		font-size: 1.7rem
		margin: 0