.form-page
	background-color: $darkred
	color: white
	padding: 40px 0
.form-sidebar
	+flexbox(column nowrap, flex-start, center, stretch)
	width: 100%
	+sm
		width: 26%
	.sidebar-combo
		@extend %din-m
		+flexbox(column nowrap, space-between, center, center)
		background-color: $wine
		color: white
		margin: 0 auto 50px
		width: 100%
		.sidebar-combo__topo
			background-color: $red
			padding: 15px
			width: 100%
			p
				font-size: 1rem
				text-align: center
				text-transform: uppercase
		.sidebar-combo__icon
			+flexbox(row nowrap, center, center, center)
			border-bottom: 1px solid white
			padding: 30px 15px
			width: 90%
			.sidebar-combo__icon--texto
				@extend %din-m
				margin-left: 15px
				font-size: 1.2rem
				text-transform: uppercase
				p
					text-align: center
				span
					font-size: 0.9rem
		.sidebar-combo__linha
			@extend %din-b
			+flexbox(column nowrap, center, center, center)
			padding: 30px 0px
			width: 90%
			p
				font-size: 4.5rem
				letter-spacing: -2px
				line-height: 0.8
				&.corte
					font-size: 4rem
					position: relative
					&:after
						background-color: $orange
						content: " "
						height: 180px
						left: 40%
						position: absolute
						transform: rotate(75deg)
						top: -55px
						width: 7px

				span
					@extend %din-m
					font-size: 2rem
	.sidebar-total
		@extend %din-r
		+flexbox(column nowrap, center, center, flex-start)
		background-color: $red
		color: white
		margin: 0 auto 50px
		width: 100%
		.sidebar-total__topo
			font-size: 2.5rem
			margin-left: 5%
			margin-top: 5%
			text-transform: uppercase
			width: 90%
		.sidebar-total__preco
			margin-left: 5%
			width: 90%
			p
				font-size: 1.6rem
				&.preco
					@extend %din-b
					font-size: 5.2rem
					letter-spacing: -10px
					text-align: right
					+sm
						text-align: left
					span
						@extend %din-m
						font-size: 1.6rem
						letter-spacing: -2px
						&.cents
							@extend %din-b
							font-size: 3rem
		.sidebar-total__rodape
			@extend %din-m
			background-color: $wine
			font-size: 0.8rem
			letter-spacing: -1px
			margin-top: 20px
			padding: 5px 0 7px
			text-align: center
			width: 100%
			a
				color: white
	.sidebar-regulamento
		margin-bottom: 50px
		p
			font-family: 'Helvetica', Arial, sans-serif
			font-size: 0.65rem
			line-height: 1.5
			text-align: justify

.form-content
	@extend %din-b
	width: 100%
	+sm
		width: 72%
	h2
		color: $yellow
		font-size: 2rem
		text-transform: uppercase
		span
			@extend %din-r
	h3
		color: $yellow
		font-size: 1rem
		margin-bottom: 10px
		margin-top: 30px
	.form-row
		+flexbox(row wrap, space-between, center, stretch)
		margin-bottom: 0
		+sm
			margin-bottom: 10px
	.form-col-30, .form-col-32, .form-col-49, .form-col-70, .form-col-100
		background-color: $form-bg
		margin-bottom: 10px
		width: 100%
	.form-col-30
		+sm
			margin-bottom: 0
			width: 29.7%
	.form-col-32
		+sm
			margin-bottom: 0
			width: 32.5%
	.form-col-49
		+sm
			margin-bottom: 0
			width: 49.3%
	.form-col-70
		+sm
			margin-bottom: 0
			width: 69%
	.form-col-100
		+sm
			margin-bottom: 0
			width: 100%
	input, select, textarea
		background-color: transparent
		border: 0px
		color: white
		font-size: 1rem
		padding: 20px
		width: 100%
	input, select
		height: 64px
	label
		background-color: $darkred
		display: block
		padding-bottom: 10px
	select
		appearance: none
		border-radius: 0px
		position: relative
		z-index: 2
	.select
		position: relative
		&:after
			content: "\f107"
			color: $yellow
			font-family: "FontAwesome"
			font-size: 2rem
			position: absolute
			right: 20px
			top: 12px
			z-index: 1
	.submit
		+flexbox(row wrap, flex-end, center,center)
		margin-top: 50px
		.button
			border: 0px
			padding: 15px 35px


&::-webkit-input-placeholder
	color: white
	opacity: 1
&::-moz-placeholder
	color: white
	opacity: 1
&:-ms-input-placeholder
	color: white
	opacity: 1
&:-moz-placeholder
	color: white
	opacity: 1

.form-line
	+flexbox(row wrap, space-between, center, stretch)