header
	background-color: $bg-topo
	padding: 20px 0
	width: 100%
	.header
		+flexbox(column wrap, center, center, center)
		+sm
			+flexbox(row wrap, space-between, center, center)
		.header__logo
			margin-bottom: 1rem
			max-width: 172px
			width: 100%
			+md
				margin-bottom: 0
		.header__nav
			+flexbox(column wrap, center, center, center)
			@extend %din-m
			font-size: 1.2rem
			letter-spacing: -1px
			+media(574px)
				+flexbox(row wrap, center, center, center)
			+sm
				flex-flow: row nowrap
				justify-content: space-between
			a
				color: $text-topo
				display: block
				margin-bottom: 1rem
				text-transform: uppercase
				+sm
					margin-bottom: 0
				span
					font-size: 1.5rem
					@extend %din-b
			i
				font-size: 1.5rem
				margin-right: 10px
			.header__nav--menu
				+flexbox(row wrap, center, center, center)
				margin-bottom: 1rem
				+sm
					margin-bottom: 0
				a
					display: block
					margin: 0 0.3rem
			.header__nav--vendas
				margin: 0 2.5rem
			.header__nav--assine
				a
					margin-bottom: 0
					+media(468px)
						margin-bottom: 1rem
					+sm
						margin-bottom: 0