.sucesso
	background-color: $red
	padding: 20% 0
	.container
		+flexbox(row wrap, center, center, center)
		svg
			max-width: 242px
			width: 100%
		.mensagem
			@extend %din-bl
			color: white
			text-align: center
			text-transform: uppercase
			+sm
				margin-left: 10px
			h1
				font-size: 3rem
				margin: 0
			p
				@extend %din-r
				color: $orange
				font-size: 1.1rem
				margin: 0

