section#calltoaction
	.chamada2
		.container
			.chamada2__linha
				.chamada2__contrate
					.chamada2__contrate--desc
						.chamada2__contrate--50
							.topo Contrate combo triplo:<br><span>Internet de</span>
							.meio
								.bg: img(src="images/bg-50mg.png", alt="")
								.numero 50
								.mega mega<span><i class="fa fa-plus" aria-hidden="true"></i> TV standard hd</span><span><i class="fa fa-plus" aria-hidden="true"></i> Multifone top light</span>
						.chamada2__contrate--100
							.topo E navegue a
							.meio
								.bg: img(src="images/bg-100mg.png", alt="")
								.numero 100
								.mega mega<sup>1</sup>
					.chamada2__contrate--texto
						p VALOR DO COMBO: R$ 182,70* <span>|</span> (COMPROMETIMENTO MÍNIMO)
				.chamada2__btn
					a(href="#").button contrate agora!
					p consulte regulamento
				.chamada2__juridico
					p *Oferta válida até o dia 31/03/2016. Valor referente ao combo triple play incluindo banda larga 12 mega + TV por assinatura e telefonia digital. Valor referente à mensalidade dos 12 primeiros meses para assinantes de novos produtos com débito automático em conta corrente. Para oferta em boleto,acréscimo de R$ 5,00. Proposta sujeita a análise de crédito e área de cobertura. Taxa de adesão de R$ 450,00 para não fidelidade ou isenção da mesma para fidelidade 12 meses. Multa por quebra contratutal no valor de R$ 450,00 proporcional aos meses restantes para o término da fidelização. Consulte condições de aquisição e quaisquer esclarecimentos com o SAC pelo telefone 3266.6060. Após 12 meses o valor será reajustado de acordo com o  IGP-M. Isso não se configura como promoção, e sim como preço. Produto disponível enquanto durar o estoque.

