section#combospromo
	.combos
		.container
			.combos__lista
				- for ($i = 1; $i < 5; $i++):
					.combo
						.combo__topo
							p oferta<br>promocional 0
								- echo $i
							span: i.fa.fa-plus

						.combo__icon
							img(src="images/tv.png", alt="")
							.combo__icon--texto
								p: span Standard HD
								p 92 canais
						.combo__icon
							img(src="images/phone.png", alt="")
							.combo__icon--texto
								p multifone<br>top light
						.combo__linha
							p Contrate 50 Mega e navegue 100Mega
							a(href="#").button Por: R$ 182,70
							p Consulte o regulamento
				- endfor
