section#formtopo
	.form-top
		.container
			h1 resumo do pedido
	.divisa
		.divisa__seta
			i.fa.fa-angle-down
	.form-pedido
		.container
			h2 <i class="fa fa-align-right"></i> Revisando seu pedido - oferta promociaonal 01
