
@font-face
	font-family: 'DIN-BoldItalic'
	src: url("#{$font-path}/din/DIN-BoldItalic.eot")
	src: url("#{$font-path}/din/DIN-BoldItalic.eot?#iefix") format('embedded-opentype'), url("#{$font-path}/din/DIN-BoldItalic.woff2") format('woff2'), url("#{$font-path}/din/DIN-BoldItalic.woff") format('woff'), url("#{$font-path}/din/DIN-BoldItalic.ttf") format('truetype'), url("#{$font-path}/din/DIN-BoldItalic.svg#DIN-BoldItalic") format('svg')
	font-weight: bold
	font-style: italic

@font-face
	font-family: 'DINBlackItalic'
	src: url("#{$font-path}/din/DINBlackItalic.eot")
	src: url("#{$font-path}/din/DINBlackItalic.eot?#iefix") format('embedded-opentype'), url("#{$font-path}/din/DINBlackItalic.woff2") format('woff2'), url("#{$font-path}/din/DINBlackItalic.woff") format('woff'), url("#{$font-path}/din/DINBlackItalic.ttf") format('truetype'), url("#{$font-path}/din/DINBlackItalic.svg#DIN-BoldItalic") format('svg')
	font-weight: bolder
	font-style: italic

@font-face
	font-family: 'DIN-MediumItalic'
	src: url("#{$font-path}/din/DIN-MediumItalic.eot")
	src: url("#{$font-path}/din/DIN-MediumItalic.eot?#iefix") format('embedded-opentype'), url("#{$font-path}/din/DIN-MediumItalic.woff2") format('woff2'), url("#{$font-path}/din/DIN-MediumItalic.woff") format('woff'), url("#{$font-path}/din/DIN-MediumItalic.ttf") format('truetype'), url("#{$font-path}/din/DIN-MediumItalic.svg#DIN-MediumItalic") format('svg')
	font-weight: 500
	font-style: italic

@font-face
	font-family: 'DIN-RegularItalic'
	src: url("#{$font-path}/din/DIN-RegularItalic.eot")
	src: url("#{$font-path}/din/DIN-RegularItalic.eot?#iefix") format('embedded-opentype'), url("#{$font-path}/din/DIN-RegularItalic.woff2") format('woff2'), url("#{$font-path}/din/DIN-RegularItalic.woff") format('woff'), url("#{$font-path}/din/DIN-RegularItalic.ttf") format('truetype'), url("#{$font-path}/din/DIN-RegularItalic.svg#DIN-RegularItalic") format('svg')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'DIN'
	src: url("#{$font-path}/din/DIN-BoldAlternate.eot")
	src: url("#{$font-path}/din/DIN-BoldAlternate.eot?#iefix") format('embedded-opentype'), url("#{$font-path}/din/DIN-BoldAlternate.woff2") format('woff2'), url("#{$font-path}/din/DIN-BoldAlternate.woff") format('woff'), url("#{$font-path}/din/DIN-BoldAlternate.ttf") format('truetype'), url("#{$font-path}/din/DIN-BoldAlternate.svg#DIN-BoldAlternate") format('svg')
	font-weight: bold
	font-style: normal