.container
	max-width: 1160px
	margin: auto
	padding: 0 1rem
	+media(1200px)
		padding: 0

// TRANSFORM
=transform($transforms)
	transform: $transforms

=animated($name, $time, $delay)
	//Name
	animation-name: $name

	//Duration
	animation-duration: $time

	//Delay
	animation-delay: $delay

	//Fill Mode
	animation-fill-mode: both
